body{
    background: #654ea3;  
background: -webkit-linear-gradient(to right, #eaafc8, #654ea3);  
background: linear-gradient(to right, #eaafc8, #654ea3);
}
.bold{
    font-weight: bold;
}
.italic{
    font-style: italic;
}
.uppercase{
    text-transform: uppercase;
}
.lowercase{
    text-transform: lowercase;
}
button{
    padding: 6px 20px;
    margin-left: 20px;
    border-radius: 10px;
    background-color: palevioletred;
    color: #fff;
    border:2px solid #fff;
    font-size: 17px;
    cursor: pointer;

}
textarea{
    margin-left: 10px;
    border-radius: 10px;
    padding:10px;
    font-size: 20px;
}